<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
    </style>
    {% block include %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <div id="sideBar">
        <span class="profileBack">{{ request.user.first_name|first }}</span>
        <span class="pName">{{ request.user.first_name }} {{ request.user.last_name }}</span>
        <div class="uCredit">
            <span class="cDetial">{{ request.user.groups.first.name }}</span>
        </div>
        <a href="/dashboard" class="menuItem {% if title == 'داشبورد' %}mItemSelected {% endif %}menuItemDash">داشبورد</a>
        {% if request.user.groups.first.name != "کارمند" %}
        <span class="menuCat">اتوماسیون</span>
        <a href="/product-buy-orders-logs" class="menuItem {% if title == 'سوابق درخواست خرید کالا' %}mItemSelected{% endif %}">سوابق درخواست خرید کالا</a>
        <a href="/product-from-stockroom-logs" class="menuItem {% if title == 'سوابق درخواست کالا از انبار' %}mItemSelected{% endif %}">سوابق درخواست کالا از انبار</a>
        <a href="/vacation-request-logs" class="menuItem {% if title == 'سوابق درخواست مرخصی' %}mItemSelected{% endif %}">سوابق درخواست مرخصی</a>
        <a href="/problem-report-logs" class="menuItem {% if title == 'سوابق ثبت خطا' %}mItemSelected{% endif %}">سوابق ثبت خطا</a>
        {% endif %}
        <span class="menuCat">کارتابل شما</span>
        <a href="/vacation-requests" class="menuItem {% if title == 'وضعیت درخواست مرخصی' %}mItemSelected{% endif %}">وضعیت درخواست مرخصی</a>
        <a href="/alternative-requests" class="menuItem {% if title == 'درخواست های جانشینی' %}mItemSelected{% endif %}">درخواست های جانشینی</a>
        <a href="/product-buy-orders" class="menuItem {% if title == 'وضعیت درخواست خرید کالا' %}mItemSelected{% endif %}">وضعیت درخواست خرید کالا</a>
        <a href="/product-requests-stockroom" class="menuItem {% if title == 'وضعیت درخواست کالا از انبار' %}mItemSelected{% endif %}">وضعیت درخواست کالا از انبار</a>
        <a href="/problem-reports" class="menuItem {% if title == 'وضعیت ثبت خطا' %}mItemSelected{% endif %}">وضعیت ثبت خطا</a>
    </div>
    <div id="navBar">
        <a href="/logout" class="signOut">خروج از حساب</a>
    </div>
    <div id="contentSection">
        <span id="pTitle">{{ title }}</span>
        {% block content %}
        {% endblock %}
        <div class="popUpBg"></div>
    </div>
    <span class="fi-rr-menu-burger menuIcon"></span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $(document).ready(function(){
            $(" .menuIcon ").click(function(e) {
                $(this).toggleClass(" menuIcon2 ");
                $(" .popUpBg ").toggle(50);
                $(" #sideBar ").toggleClass(" sideBarMob ");
            });
        });
    </script>
    {% block domready %}
    {% endblock %}
</body>
</html>