{% extends "base.html" %}
{% block content %}
<div id="boxMenu">
    <a href="/vacation-request" class="boxItem"><span class="boxItemText">درخواست مرخصی</span><span class="boxItemIcon fi fi-rr-user-slash"></span></a>
    <a href="/product-from-stockroom" class="boxItem"><span class="boxItemText">درخواست کالا از انبار</span><span class="boxItemIcon fi fi-rr-warehouse-alt"></span></a>
    <a href="/product-buy-order" class="boxItem"><span class="boxItemText">درخواست خرید کالا</span><span class="boxItemIcon fi fi-rr-shopping-cart"></span></a>
    <a href="/problem-report" class="boxItem"><span class="boxItemText">ثبت خطا</span><span class="boxItemIcon fi fi-rr-times-hexagon"></span></a>
</div>
{% endblock %}