{% extends "base.html" %}
{% load static %}
{% load to_jalali_datetime %}
{% block include %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
<link href="{% static "css/log-detail.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="log-detail-box">
    <p><span class="log-label">نام متقاضی:</span><span class="log-text">{{ instance.user }}</span></p>
    <p><span class="log-label">نام کالا:</span><span class="log-text">{{ instance.name }}</span></p>
    <p><span class="log-label">برند:</span><span class="log-text">{{ instance.brand }}</span></p>
    <p><span class="log-label">تعداد:</span><span class="log-text">{{ instance.count }}</span></p>
    <p><span class="log-label">نوع درخواست:</span><span class="log-text">{{ instance.order_type }}</span></p>
    <p><span class="log-label">تاریخ:</span><span class="log-text">{{ instance.created|to_jalali:'%Y/%m/%d - %H:%M' }}</span></p>
    <p><span class="log-label">توضیحات:</span><span class="log-text">{% if instance.description %}{{ instance.description }}{% else %}بدون توضیحات{% endif %}</span></p>
    <p>
        <span class="log-label">یادداشت ها:</span>
        {% for note in notes %}
        <span class="log-text">
            <span class="order-note">{{ note.user }} | {{ note.user.groups.first.name }} | {{ note.created|to_jalali:'%Y/%m/%d - %H:%M' }}</span><br>
            {{ note.text }}
        </span>
        {% empty %}
        <span class="log-text">یادداشتی وجود ندارد.</span>
        {% endfor %}
    </p>
</div>
<form class="formBox" method="post">
    {% if message %}
    <span class="message" style="color: {{ status }};">{{ message }}</span>
    {% endif %}
    {{ form.as_p }}
    <p>
        <label for="text">یادداشت جدید:</label>
        {{ note_form.text }}
    </p>
    {% csrf_token %}
    <input id="apply" type="submit" value="اعمال تغییرات">
</form>
{% endblock %}

{% block domready %}
<script>

</script>
{% endblock %}