{% load to_jalali_datetime %}
{% for log in logs %}
<tr class="data-row">
    <td data-column="user">{{ log.user }}</td>
    <td data-column="alternative">{{ log.alternative }}</td>
    <td data-column="type">{{ log.type }}</td>
    <td data-column="start_date">{{ log.start_date|to_jalali:"%Y/%m/%d" }}</td>
    <td data-column="end_date">{{ log.end_date|to_jalali:"%Y/%m/%d" }}</td>
    <td data-column="duration">{{ log.duration }}</td>
    <td data-column="description" class="description multiline-text">{% if log.description %}{{ log.description }}{% else %}بدون توضیحات{% endif %}</td>
    <td data-column="created_date">{{ log.created|to_jalali:"%Y/%m/%d" }}</td>
    <td data-column="status">
        {% if log.status == "بررسی نشده" %}
            <span class="status-container status-pending">{{ log.status }}</span>
        {% elif log.status == "موافقت شده" %}
            <span class="status-container status-approved">{{ log.status }}</span>
        {% elif log.status == "رد شده" %}
            <span class="status-container status-rejected">{{ log.status }}</span>
        {% elif log.status == "تایید جانشین" %}
            <span class="status-container status-approved">{{ log.status }}</span>
        {% elif log.status == "رد جانشین" %}
            <span class="status-container status-rejected">{{ log.status }}</span>
        {% elif log.status == "بررسی بیشتر" %}
            <span class="status-container status-more-review">{{ log.status }}</span>
        {% else %}
            <span class="status-container">{{ log.status }}</span>
        {% endif %}
    </td>
    <td>
    {% if action_mode == "boss" %}
        <a class="action-btn" href="{{ log.get_absolute_url }}"><i class="fa-solid fa-eye"></i></a>
    {% else %}
        <a class="action-btn" href="{{ log.get_absolute_url }}?from_alternative=true"><i class="fa-solid fa-eye"></i></a>
    {% endif %}
    </td>
</tr>
{% endfor %}
