{% extends "base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<form class="formBox" method="post">
    {% if message %}
    <span class="message" style="color: {{ status }};">{{ message }}</span>
    {% endif %}
    {{ form.as_p }}
    {% csrf_token %}
    <input id="apply" type="submit" value="ثبت">
</form>
{{ form.media }}
{% endblock %}

{% block domready %}
<script>
    jalaliDatepicker.updateOptions({"minDate": "today"});
    $(" #type ").change(function() {
        if( $(this).val() == "روزانه") {
            jalaliDatepicker.updateOptions({"time": false});
        } else {
            jalaliDatepicker.updateOptions({"time": true});
        }
    });
</script>
{% endblock %}